target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/*
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local secrets ###
.env
.env.*
*.env
**/secrets.properties
**/secrets.yml
**/secrets.yaml
**/env_overrides.properties
**/application-local.properties
**/application-local.yml
**/application-local.yaml
*.pem
*.key
*.p12
*.jks

### Mac OS ###
.DS_Store
/.idea/
